@model IEnumerable<Webmvc.Models.Person>

@{
    ViewData["Title"] = "Index";
}

<h1>Thong tin chi tiet </h1>

<p>
    <a asp-action="Create"> Tao moi 1 nguoi</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tuoi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diachi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tuoi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diachi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Name">Sua</a> |
                <a asp-action="Details" asp-route-id="@item.Name">Thong tin</a> |
                <a asp-action="Delete" asp-route-id="@item.Name">Xoa</a>
            </td>
        </tr>
}
    </tbody>
</table>
