@model IEnumerable<Webmvc.Models.Employee>
    <p>
        <a class="btn btn-success" asp-action="Create"> Creat a new Employee</a>
    </p>
    <table class="table table-all">
        <tr>
            <th>EmployeeId</th>
            <th>FacultyName</th>
        </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(m => item.EmployeeId)</td>
            <td>@Html.DisplayFor(m => item.EmployeeName)</td>
            <td>@Html.DisplayFor(m => item.Address)</td>
             <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeId">Sửa</a>
                <a asp-action="Delete" asp-route-id="@item.EmployeeId">Xóa</a>
            </td>
        </tr>
    }

    </table>