@model IEnumerable<MVCApp.Models.Person>

@{
    ViewData["Title"] = "Index";
}

<h1>Bang thong tin chi tiet </h1>

<p>
    <a asp-action="Create"> Tao moi 1 nguoi</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersonId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.PersonId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <br>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PersonId">Sua</a> |
                <a asp-action="Delete" asp-route-id="@item.PersonId">Xoa</a>
            </td>
        </tr>
}
    </tbody>
</table>