@model Demo.Models.Student

@{
    ViewData["Title"] = "Delete";
}

<h1>Ban chac chan xoa chu</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Khoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Khoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tuoi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tuoi)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MSV" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
